{
  "parser": "babel-eslint",
  "extends": ["react-app", "airbnb", "plugin:jsx-a11y/recommended", "prettier"],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  },
  "plugins": ["react", "jsx-a11y"],
  "rules": {
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-props-no-spreading": "off",
    "react/react-in-jsx-scope": "off",
    "jsx-a11y/autocomplete-valid": 0,
    "camelcase": "off",
    "jsx-a11y/label-has-associated-control": [
      2,
      {
        "assert": "either"
      }
    ],
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
  }
}
